<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DynHosts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DynHosts.Properties.Settings>
            <setting name="watchFile" serializeAs="String">
                <value>c:/temp/hosts.temp.txt</value>
            </setting>
            <setting name="commentPrefix" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="targetFile" serializeAs="String">
                <value>d:/temp/hosts</value>
            </setting>
        </DynHosts.Properties.Settings>
    </userSettings>
</configuration>